###### Requirements without Version Specifiers ######`
wheel
torch
numpy
scipy
pandas
seaborn
jupyter
robin_stocks
yfinance
xlrd
openpyxl
xlsxwriter

###### Requirements with Version Specifiers ######`
